@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFB6C1;
}

canvas{
  display: block;
}
*{
  font-family: "Poppins";
  font-weight: 800;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 90%;
}

#help-container{
  order: 1;
  background-color: #000000;
  color: white;
  padding: 14px;
  border-radius: 10px;
  font-size: 14pt;
  visibility: visible;
}

#output-text{
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ccc;
  text-overflow: clip;
  font-size: 14pt;
  padding: 12px;
  border-radius: 10px;
  border: #000 solid 4px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}